[include mmu/base/*.cfg]
[include mmu/addons/mmu_erec_cutter.cfg]
[include mmu/optional/client_macros.cfg]
[include mmu/addons/Blobifier.cfg]
[include shell_command.cfg]
# This file contains common pin mappings for the BigTreeTech Octopus V1.
# To use this config, the firmware should be compiled for the STM32F446 with a "32KiB bootloader"
# Enable "extra low-level configuration options" and select the "12MHz crystal" as clock reference

# after running "make", copy the generated "klipper/out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the OctoPus with that SD card.

# See docs/Config_Reference.md for a description of parameters.

## Voron Design Trident 250/300/350mm BigTreeTech OctoPus V1 TMC2209 UART config

## *** THINGS TO CHANGE/CHECK: ***
## MCU paths                            [mcu] section
## Thermistor types                     [extruder] and [heater_bed] sections - See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types
## Hotend heater pin                    [extruder] section
## Leadscrew Rotation Distance          [stepper_z], [stepper_z1], [stepper_z2]
## Z Endstop Switch location            [safe_z_home] section
## Z Endstop Switch  offset for Z0      [stepper_z] section
## Stepper Z1 enable pin                [stepper_z1] section
## PID tune                             [extruder] and [heater_bed] sections
## Probe pin                            [probe] section
## Fine tune E steps                    [extruder] section

[include stealthburner_leds.cfg]
[include ebbcanbus.cfg]
[include mainsail.cfg]
[include purge.cfg]
[exclude_object]
[include TEST_SPEED.cfg]
[include aux_fan.cfg]
##[include nevermore.cfg]
[include KAMP_Settings.cfg]
[include knomi.cfg]
##[include Part_fan.cfg]
##[include sfs2.cfg]
[include neo.cfg]



[mcu]
##  Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
##--------------------------------------------------------------------
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_2E002C000E50535556323420-if00
restart_method: command
##--------------------------------------------------------------------

[printer]
kinematics: corexy
max_velocity: 500  
max_accel: 4000             #Max 4000
max_z_velocity: 15          #Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 300
square_corner_velocity: 5.0
max_accel: 3700  # should not exceed the estimated max_accel for X and Y axes
minimum_cruise_ratio: 0.50

#####################################################################
#   X/Y Stepper Settings
#####################################################################

##  B Stepper - Left
##  Connected to MOTOR_0
##  Endstop connected to DIAG_0
[stepper_x]
step_pin: PF13
dir_pin: PF12
enable_pin: !PF14
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin: ^PG6
position_min: 0

##  Uncomment for 300mm build
position_endstop: 300
position_max: 300
homing_speed: 100   #Max 100
homing_retract_dist: 5
homing_positive_dir: true

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_x]
uart_pin: PC4
interpolate: False
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

##  A Stepper - Right
##  Connected to MOTOR_1
##  Endstop connected to DIAG_1
[stepper_y]
step_pin: PG0
dir_pin: PG1
enable_pin: !PF15
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin: PG9
position_min: 0
position_endstop: 300
position_max: 300
homing_speed: 50  #Max 100
homing_retract_dist: 5
homing_positive_dir: true

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_y]
uart_pin: PD11
interpolate: False
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0
 
#####################################################################
#   Z Stepper Settings
#####################################################################

##  Z0 Stepper - Front Left
##  Connected to MOTOR_2
##  Endstop connected to DIAG_2
[stepper_z]
step_pin: PF11
dir_pin: PG3
enable_pin: !PG5
# Rotation Distance for TR8x8 = 8, TR8x4 = 4, TR8x2 = 2
rotation_distance: 4   
microsteps: 32
endstop_pin: probe:z_virtual_endstop
##endstop_pin: PG10
position_max: 250
position_min: -4.0
homing_speed: 10.0 # Leadscrews are slower than 2.4, 10 is a recommended max.
second_homing_speed: 3
homing_retract_dist: 3

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z]
uart_pin: PC6
interpolate: False
run_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 0

##  Z1 Stepper - Rear Center
##  Connected to MOTOR_3
[stepper_z1]
step_pin: PG4
dir_pin: PC1
## Octopus 1.0 & 1.1.  Octopus PRO 1.0
enable_pin: !PA0
## Octopus PRO 1.1
#enable_pin: !PA2
# Rotation Distance for TR8x8 = 8, TR8x4 = 4, TR8x2 = 2
rotation_distance: 4  
microsteps: 32

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z1]
uart_pin: PC7
interpolate: False
run_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 0

##  Z2 Stepper - Front Right
##  Connected to MOTOR_4
[stepper_z2]
step_pin: PF9
dir_pin: PF10
enable_pin: !PG2
# Rotation Distance for TR8x8 = 8, TR8x4 = 4, TR8x2 = 2
rotation_distance: 4  
microsteps: 32

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z2]
uart_pin: PF2
interpolate: False
run_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 0

[extruder]
max_extrude_cross_section: 5






#####################################################################
#   Bed Heater
#####################################################################

[heater_bed]
##  SSR Pin - HE1
##  Thermistor - TB
heater_pin: PA3
## Check what thermistor type you have. See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types.
## Use "Generic 3950" for Keenovo heaters
sensor_type:Generic 3950
sensor_pin: PF3
##  Adjust max_power so it doesn't exceed the SSR rating. The Omron G3NA-210B-DC5 SSR is rated at 4 amps without a heatsink.
##  The formula is "4 / (Wattage_of_bed_heater / Mains_voltage) = max_power"
##  If max_power is greater than 1.0, use 1.0
max_power: 0.6
min_temp: 0
max_temp: 120
#control: pid
#pid_kp: 58.437
#pid_ki: 2.347
#pid_kd: 363.769

##[firmware_retraction]
##retract_length: 0.7
##retract_speed: 60
##unretract_extra_length: 0
##unretract_speed: 60

#####################################################################
##   Probe
#####################################################################

[probe]
pin: !EBBCan: PB5
x_offset: 0
y_offset: 0
#z_offset: -3.420
speed: 10.0
samples: 3
samples_result: median ;; or average
sample_retract_dist: 3.0
samples_tolerance: 0.006
samples_tolerance_retries: 3


activate_gcode:
    status_meshing
    SET_LED_EFFECT EFFECT=chase
    {% set PROBE_TEMP = 150 %}
    {% set MAX_TEMP = PROBE_TEMP + 5 %}
    {% set ACTUAL_TEMP = printer.extruder.temperature %}
    {% set TARGET_TEMP = printer.extruder.target %}
    
    {% if TARGET_TEMP > PROBE_TEMP %}
        { action_respond_info('Extruder temperature target of %.1fC is too high, lowering to %.1fC' % (TARGET_TEMP, PROBE_TEMP)) }
        M109 S{ PROBE_TEMP }
        ##M190 S{target_BED_TEMP}
    {% else %}
        # Temperature target is already low enough, but nozzle may still be too hot.
        {% if ACTUAL_TEMP > MAX_TEMP %}
            { action_respond_info('Extruder temperature %.1fC is still too high, waiting until below %.1fC' % (ACTUAL_TEMP, MAX_TEMP)) }
            TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={ MAX_TEMP }
        {% endif %}
    {% endif %}



#####################################################################
#   Filament Runout Sensors
#####################################################################

#[filament_runout_sensor_top]
#pin: EBBCAN: PC13

    

#####################################################################
#   Fan Control
#####################################################################

[fan]
#Print Cooling Fan - FAN0
pin: EBBCan: PA1
kick_start_time: 0.5
##  Depending on your fan, you may need to increase this value
##  if your fan will not start. Can change cycle_time (increase)
##  if your fan is not able to slow down effectively
off_below: 0.10

[heater_fan hotend_fan]
#Hotend Fan - FAN1
pin: EBBCan: PA0
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 90.0
##  If you are experiencing back flow, you can reduce fan_speed
fan_speed: 1.0


[controller_fan controller_fan_right]
pin: PD12
stepper: stepper_x, stepper_y
idle_timeout: 30
max_power: 1.0
fan_speed: 0.6
idle_speed: 0
kick_start_time: 0



[controller_fan controller_fan_left]
pin: PD13
stepper: stepper_x, stepper_y
idle_timeout: 30
max_power: 1.0
fan_speed: 0.6
idle_speed: 0
kick_start_time: 0



##[fan_generic Part]
##pin: PD15
##max_power: 1.0
##kick_start_time: 0.5

[fan_generic Nevermore_Filter_Fan]
pin: PE5
max_power: 1.0
kick_start_time: 0.5







#####################################################################
#   LED Control
#####################################################################



#####################################################################
#   Homing and Gantry Adjustment Routines
#####################################################################

[idle_timeout]
timeout: 1800

[safe_z_home]
##  XY Location of the Z Endstop Switch
##  Update -10,-10 to the XY coordinates of your endstop pin 
##  (such as 157,305) after going through Z Endstop Pin
##  Location Definition step.
home_xy_position:150, 150
speed:150
z_hop:10

[z_tilt]
##  Use Z_TILT_ADJUST to level the bed .
##  z_positions: Location of toolhead
z_positions:
   -50, 18
   150, 348
   350, 18
points:
  30, 5
   150, 245
   270, 5

speed: 400
horizontal_move_z: 5
retries: 5
retry_tolerance: 0.0075


[bed_mesh]
speed: 250
horizontal_move_z: 5
mesh_min: 20, 20
mesh_max: 280, 280
probe_count: 5, 5
move_check_distance: 3
split_delta_z: .025

[input_shaper]
shaper_freq_x: 52.8
shaper_type_x: mzv
shaper_freq_y: 36.8
shaper_type_y: mzv





########################################
# EXP1 / EXP2 (display) pins
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE8, EXP1_2=PE7,
    EXP1_3=PE9, EXP1_4=PE10,
    EXP1_5=PE12, EXP1_6=PE13,    # Slot in the socket on this side
    EXP1_7=PE14, EXP1_8=PE15,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PA6, EXP2_2=PA5,
    EXP2_3=PB1, EXP2_4=PA4,
    EXP2_5=PB2, EXP2_6=PA7,      # Slot in the socket on this side
    EXP2_7=PC15, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<5V>

#####################################################################
#   Displays
#####################################################################

##  Uncomment the display that you have
#--------------------------------------------------------------------

#[display]
##  RepRapDiscount 128x64 Full Graphic Smart Controller
#lcd_type: st7920
#cs_pin: EXP1_4
#sclk_pin: EXP1_5
#sid_pin: EXP1_3
#menu_timeout: 40
#encoder_pins: ^EXP2_5, ^EXP2_3
#click_pin: ^!EXP1_2

#[output_pin beeper]
#pin: EXP1_1

#--------------------------------------------------------------------

[display]
##  mini12864 LCD Display
lcd_type: uc1701
cs_pin: EXP1_3
a0_pin: EXP1_4
rst_pin: EXP1_5
encoder_pins: ^EXP2_5, ^EXP2_3
click_pin: ^!EXP1_2
contrast: 63
spi_software_miso_pin: EXP2_1
spi_software_mosi_pin: EXP2_6
spi_software_sclk_pin: EXP2_2

[neopixel btt_mini12864]
##  To control Neopixel RGB in mini12864 display
pin: EXP1_6
chain_count: 3
initial_RED: 0.8
initial_GREEN: 0.0
initial_BLUE: 0.0
color_order: RGB

##  Set RGB values on boot up for each Neopixel. 
##  Index 1 = display, Index 2 and 3 = Knob
[delayed_gcode setdisplayneopixel]
initial_duration: 1
gcode:
        SET_LED LED=btt_mini12864 RED=1 GREEN=1 BLUE=1 INDEX=1 TRANSMIT=0
        SET_LED LED=btt_mini12864 RED=1 GREEN=0 BLUE=0 INDEX=2 TRANSMIT=0
        SET_LED LED=btt_mini12864 RED=1 GREEN=0 BLUE=0 INDEX=3 

#--------------------------------------------------------------------


#####################################################################
#   Macros
#####################################################################


[gcode_macro QUAD_GANTRY_LEVEL]
gcode:
 SET_GCODE_VARIABLE MACRO=_KNOMI_STATUS VARIABLE=qgling VALUE=True
 Z_TILT_ADJUST
 SET_GCODE_VARIABLE MACRO=_KNOMI_STATUS VARIABLE=qgling VALUE=False


[gcode_macro _KNOMI_STATUS]
variable_homing: False
variable_probing: False
variable_qgling: False
variable_heating_nozzle: False
variable_heating_bed: False
gcode:
[gcode_macro M109]
rename_existing: M109.1
gcode:
 SET_GCODE_VARIABLE MACRO=_KNOMI_STATUS VARIABLE=heating_nozzle VALUE=True
 M109.1 {rawparams}
 SET_GCODE_VARIABLE MACRO=_KNOMI_STATUS VARIABLE=heating_nozzle VALUE=False
[gcode_macro M190]
rename_existing: M190.1
gcode:
 SET_GCODE_VARIABLE MACRO=_KNOMI_STATUS VARIABLE=heating_bed VALUE=True
 M190.1 {rawparams}
 SET_GCODE_VARIABLE MACRO=_KNOMI_STATUS VARIABLE=heating_bed VALUE=False
[gcode_macro G28]
rename_existing: G28.1
gcode:
 SET_GCODE_VARIABLE MACRO=_KNOMI_STATUS VARIABLE=homing VALUE=True
 G28.1 {rawparams}
 SET_GCODE_VARIABLE MACRO=_KNOMI_STATUS VARIABLE=homing VALUE=False
##[gcode_macro BED_MESH_CALIBRATE]
##rename_existing: BTT_BED_MESH_CALIBRATE
##gcode:
 ##SET_GCODE_VARIABLE MACRO=_KNOMI_STATUS VARIABLE=probing VALUE=True
 ##BTT_BED_MESH_CALIBRATE
 ##SET_GCODE_VARIABLE MACRO=_KNOMI_STATUS VARIABLE=probing VALUE=False

#####################################################################
#   print_start macro
#####################################################################
[gcode_macro LOAD_FILAMENT]
variable_load_distance:  70
variable_purge_distance:  55
gcode:
    {% set speed = params.SPEED|default(300) %}
    {% set max_velocity = printer.configfile.settings['extruder'].max_extrude_only_velocity  * 15 %}
    SAVE_GCODE_STATE NAME=load_state
    G91
    G92 E0
    G1 E{load_distance} F{max_velocity} # fast-load
    G1 E{purge_distance} F{speed} # purge
    RESTORE_GCODE_STATE NAME=load_state



[gcode_macro UNLOAD_FILAMENT]
variable_unload_distance:  150
variable_purge_distance:  5
gcode:
    {% set speed = params.SPEED|default(300) %}
    {% set max_velocity = printer.configfile.settings['extruder'].max_extrude_only_velocity  * 15 %}
    SAVE_GCODE_STATE NAME=unload_state
    G91
    G92 E0
    G1 E{purge_distance} F{speed} # purge
    G1 E-{unload_distance} F{max_velocity} # fast-unload
    RESTORE_GCODE_STATE NAME=unload_state




  



  

[gcode_macro PRINT_START]
gcode:
  EXCLUDE_OBJECT_DEFINE
  {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
  {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(210)|float %}
  M109 S{EXTRUDER_TEMP}
  M190 S{BED_TEMP}
  CLEAN_NOZZLE
  STOP_LED_EFFECTS
  SET_LED_EFFECT EFFECT=bed_effects
  G28
  M190 S{BED_TEMP}
  STATUS_HOMING         # Sets SB-leds to homing-mode
  SET_DISPLAY_TEXT MSG="Homing FOR MESH"
  STOP_LED_EFFECTS
  SET_LED_EFFECT EFFECT=chase
  G90                   # Absolut position
  BED_MESH_CLEAR       # Clears old saved bed mesh (if any)
  M117 Heating Bed
  M117 Z_TILT
  Z_TILT_ADJUST
  BED_MESH_CALIBRATE ADAPTIVE=1
  M117 Loading Mesh
  BED_MESH_PROFILE Load=default
  STOP_LED_EFFECTS
  SET_LED_EFFECT EFFECT=bed_effects
  SET_DISPLAY_TEXT MSG="Heating Hotend"             # Displays info
  STATUS_Heating                                               # Sets SB-leds to heating-mode
  STOP_LED_EFFECTS
  SET_LED_EFFECT EFFECT=fire
  G0 X252 Y300 Z10 F4000
  M190 S{BED_TEMP}
  M109 S{EXTRUDER_TEMP} #Heats the nozzle to printing temp
  G90
  #SET_FILAMENT_SENSOR SENSOR=encoder_sensor ENABLE=0
  SET_DISPLAY_TEXT MSG="Print Starting"            # Displays info
  STOP_LED_EFFECTS
  SET_LED_EFFECT EFFECT=progress
  STATUS_PRINTING 









[gcode_macro Led_Effect_Off]
gcode:
   STOP_LED_EFFECTS

[gcode_macro Case_LED_On]
gcode:
   STOP_LED_EFFECTS
   SET_LED_EFFECT EFFECT=white


   









[gcode_macro print_end]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=end_print
    M117 Finished Print!!!!
    SET_NOZZLE_LEDS_OFF
    status_off
    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-5.0 F3600                 ; retract filament
    M104
    M140 S0                        ; turn off heaters
    G90                            ; absolute positioning
    G28 X Y                        ; HOME XY, park nozzle at rear
    M107                           ; turn off fan
    M84

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 39.280
#*# pid_ki = 1.393
#*# pid_kd = 276.926
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.077399, 0.073024, 0.069899
#*# 	0.068649, 0.069899, 0.064274
#*# 	0.056774, 0.052399, 0.049899
#*# x_count = 3
#*# y_count = 3
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 127.942
#*# max_x = 170.362
#*# min_y = 62.4283
#*# max_y = 104.8483
#*#
#*# [probe]
#*# z_offset = -0.808
